<html>
    <head>
        <title>
            <%= locals.title %>
        </title>
        <link rel="stylesheet" type="text/css" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integgrity="sha384-B4dIYHKNBt8Bc12p+WWXckhzcIC0wtJAoU8YZTY5qE0Id1GseTk6S+L3BlXeVIU" crossorigin="anonymous">
        <!-- our css file should be below all other style so that we can override it-->
        <link rel="stylesheet" href="/css/home.css">
    </head>
    <body>
        
        <h1 id="page-heading">
            <i class="fas fa-address-card"></i>
            My Contact List
        </h1>

        <div >
            <ul id="ulist">
                <% for(let i of contact_list){ %>
                    <li id="list">
                        <i id="img" class="fas fa-user"></i>
                        <p>
                            <%= i.name %>
                        </p>
                        <p class="a">
                            <%= i.phone %>
                        </p>

                        <div class="delete-button">
                            <!-- <a href="/delete-contact/?phone=<%= i.phone %>"> -->
                            <a href="/delete-contact/?id=<%= i._id %>">
                                <i class="fas fa-window-close"></i>
                            </a>
                        </div>
                        
                    </li>
                <% } %>
            </ul>
        </div>

        <form id="form" action="/create-contact" method="POST">
            <input type="text" name="name" placeholder="Enter Name" required>
            <input type="number" name="phone" placeholder="Enter Phone" required>
            <button type="submit">Add Contact</button>
        </form>

        <script type="text/javascript" src="/js/home.js"></script>
    </body>
</html>
<!-- locals is a global object , So local is avilable present all my view globaly -->
